@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

:root {
    --btn-outlined-off: #323232;
    --btn-outlined-on: #A86A3D;
}

@layer utilities {
    .no-visibility-scrollbar::-webkit-scrollbar {  /*recommended-products-section*/
        width: 1px;
    }

    .no-clear::-webkit-search-cancel-button {   /*nav-search*/
        -webkit-appearance: none;
    }

    .form-background:-webkit-autofill {         /*nav-search*/
        -webkit-box-shadow: 0 0 0px 1000px #f3f4f6 inset;       /*bg-neutral-100*/
        box-shadow: 0 0 0px 1000px #f3f4f6 inset !important;    /*bg-neutral-100*/
    }
}

@layer components {
    .wrapper {
        @apply w-full max-w-7xl mx-auto px-4 2xl:px-0 transition-all duration-100;
    }

    .btn {
        @apply py-3 px-[clamp(16px,1.8vw,32px)] box-border rounded-lg;
    }

    .btn.btn-outlined {
        @apply bg-transparent rounded-md text-[var(--btn-outlined-off)] border transition-all duration-150;
        border-color: var(--btn-outlined-off);
    }
    
    .btn.btn-outlined:hover {
        border-color: var(--btn-outlined-on);
        color: var(--btn-outlined-on);
    }

    .btn.btn-outlined.btn-primary {
        @apply bg-white text-primary-600 border border-primary-600 hover:bg-primary-600/5 transition-all duration-100;
    }

    .btn.btn-filled.btn-gray {
        @apply bg-neutral-50 text-gray-400; /*hover:text-neutral-700 border transition-all hover:shadow hover:bg-neutral-200*/
    }

    .btn.btn-filled.btn-primary {
        @apply bg-primary-600 text-white hover:bg-primary-600/90 transition-all duration-100;
    }

}
